{
    admin off
}

:3006 {
    @options method OPTIONS
    handle @options {
        header {
            Access-Control-Allow-Origin *
            Access-Control-Allow-Methods *
            Access-Control-Allow-Headers "Content-Type, Authorization, DPoP, atproto-accept-labelers, atproto-proxy"
            Access-Control-Expose-Headers *
        }
        respond 204
    }

    @auth host auth.self.surf
    handle @auth {
        reverse_proxy auth:3001
    }

    @pds {
        path /xrpc/*
        path /.well-known/*
        path /oauth/*
        path /@atproto/*
    }
    handle @pds {
        reverse_proxy core:3000 {
            header_down -Access-Control-Allow-Origin
            header_down -Access-Control-Allow-Methods
            header_down -Access-Control-Allow-Headers
            header_down -Access-Control-Expose-Headers
        }
        header Access-Control-Allow-Origin *
        header Access-Control-Allow-Methods *
        header Access-Control-Allow-Headers "Content-Type, Authorization, DPoP, atproto-accept-labelers, atproto-proxy"
        header Access-Control-Expose-Headers *
    }

    handle {
        reverse_proxy https://self-surf.pages.dev {
            header_up Host {upstream_hostport}
        }
    }
}
